@import "../../style/variables";
* {
  background-color: $dark_400;
  margin: 0;
}

.details_container {
 
  
}

.btn_back {
  display: flex;
  justify-content: start;
  align-items: center;
  color: $light_100;
  @include roboto_smaller_bold;

  margin-left: 5%;
  gap: 10px;

  img {
    width: 10px;
    height: 15px;
    background-color: transparent;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;

  width: 90%;
  margin: 5%;
  /* overflow:auto; */
}
.img {
  max-width: 35%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
  /* border: 2px solid rgb(233, 228, 228); */

  h1 {
    display: flex;
    justify-content: start;
    @include poppins_400_medium;
    color: $light_300;
    width: 100%;
    margin-bottom: -3px;
  }
  p {
    @include poppins_200_medium;
    color: $light_300;

    max-width: 60%;
    margin-left: -40%;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
}

/* ------- MOBILE---------- */

@media screen and (max-width: 768px) {
  .details_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .btn_back {
    /*  position: absolute;
    bottom: 20%;
    right: 5%;
    background-color: transparent;
    @include roboto_big_bold; */
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
    margin: 5%;

    .img {
      @include size_200;
      margin: 2%;
    }
  }

  .content {
    display: flex;
    justify-content: center;

    gap: 10px;

    h1,
    p,
    .tags,
    .order {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      margin: 0.2%;
    
      
    }
    h1 {
      @include roboto_bigger_bold;
    }
    p {
      @include roboto_small_spaced;
    }
  }
}
