@import "../../style/variables";

.authPage_container,
.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 100vh;
  gap: 10px;
}
.left,
.right {
  width: 50%;
}
/* --------------- Mobile-------- */

@media screen and (max-width: 569px) {
  .auth_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    display: none;
  }
  .right {
    height: 100vh;
    width: 100vw;
  }
}
