@import "../../style/variables";

.include {
  background-color: $red_100;
  color: $light_100;
  @include poppins_100_medium;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 150%;
  height: 40px;

  &:hover {
    background-color: $red_200;
  }
  &:active {
    background-color: $red_300;
  }
}

/* BUTTON -------------------- ADM  */
.btn_container_adm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red_100;

  @include poppins_100_medium;
  color: $light_100;

  padding: 6px 20px;
  gap: 8px;
  border-radius: 5px;

  img {
    width: 20px;
    height: 20px;
  }
}

/* BUTTON -----------------------Mobile */

@media screen and (max-width: 760px) {
  .btn_container{
    border: 2px solid red;

  }
  .include {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 32px;
  }

  /* BUTTON ----------Mobile-------- ADM */
  .btn_container_adm {
    display: none;
  }
}
