@import "../../style/variables";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red_100;

  @include poppins_100_medium;
  color: $light_100;

  padding: 6px 20px;
  gap: 8px;
  border-radius: 5px;
  width: 200px;

  .receptImg {
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
}
.receptImgMobile {
  display: none;
}

/* My Orders --------------- MOBILE */

@media screen and (max-width: 768px) {
  .myorders_container {
    background-color: $dark_700;

    .btn {
      display: none;
    }
  }

  .receptImgMobile {
    display: flex;
    width: 45px;
    background-color: transparent;
  }
}
