@import "../../style/variables";

.header {
  margin-top: 7%;
  margin-left: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 150px;
  background: linear-gradient(180deg, #091e26 0%, #00131c 100%);

  img {
    margin-top: 80px;
    margin-left: -60px;
    max-width: 220px;
    transform: scaleX(-1);
  }
}
.slogam {
  color: $light_400;
  background-color: transparent;
  :nth-child(1) {
    background-color: transparent;
    @include poppins_300_medium;
  }
  :nth-child(2) {
    background-color: transparent;
    @include roboto_smallest_regular;
  }
}

@media screen and (max-width:768px){
    
  .header{
    
    width:100vw;
    margin-right: 0;
    margin-left: 0;
    gap: 5px;
    img{
      margin-left: 2%;
      width: 200px;
    }
  }
  .slogam{
    :nth-child(2) {
      background-color: transparent;
      width: 80%;
      @include roboto_smallest_regular;
    }
  }
}
