@import  '../../style/variables';

.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img{
        width: 25px;
        
    }
    color: $light_100;
    @include roboto_big_bold
}

/* LOGO - ADM  */

.logo_container_adm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img{
        width: 25px;
        
    }
    section{
        display: flex;
        justify-self: center;
        flex-direction: column;
        height: 35px;
    }
    .logo_name{
        color: $light_100;
        @include roboto_big_bold;
        margin: 0;
    }

    .logo_name_adm{
        display: flex;
        justify-content: flex-end;
        margin-top: -8px;
        color: $blue_100;
        @include roboto_smallest_regular;
    }
}

/*  LOGO - ADM - MOBILE */
@media screen and (max-width: 768px ){
    .logo_container_adm{
       
        
        section{
            display: flex;
            justify-self: center;
            align-items: baseline;
            flex-direction: row;
            gap: 10px;
           
        }
    }
}

/* LOGO - FOOTER  */

.logo_footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;

    color: $light_700;
    @include roboto_big_bold;

    img{
        width: 25px;
    }

}


    


