@import "../../style/variables";

.card_comtainer,
.heart,
.dish,
.title,
.sub_title,
.price {
  /* border: 2px solid red;  */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  color: $light_300;
  text-align: center;
  
}

.heart {
  display: flex;
  align-items: end;
}

#cardImg {
  max-width: 70%;
}
.title {
  @include poppins_300_medium;
}
.sub_title {
  @include roboto_smallest_regular;
}

.price {
  @include roboto_biggest_regular;
  color: $blue_100;
}

.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
}
