@import "../../style/variables";

.card_comtainer,
.dish,
.heart,
.title,
.sub_title,
.price {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  color: $light_300;
  text-align: center;
  border: 2px solid red;
  .heart {
    align-items: initial;
  }
}

#heart {
 display: flex;
 justify-content: end;
  border: 2px solid red;
}

#cardImg {
  max-width: 70%;
}

.heart,.title,.sub_title,.price{
  line-height: 2.5vh;
}
.title {
  @include poppins_300_medium;
}
.sub_title {
  @include roboto_smallest_regular;
}

.price {
  @include roboto_biggest_regular;
  color: $blue_100;
}

.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
}
