@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.card_container {
  display: flex;
  flex-direction: column;
  background-color: #000204;
  width: 300px;
  height: 462px;
  padding: 24px;
  gap: 15px;
}

.heart {
  display: flex;
  justify-content: end;
}
.heart img {
  width: 24px;
}

/* .hear:active{

} */
.dish {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dish #cardImg {
  height: 176px;
  width: 176px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: auto;
  margin: 0;
}

.sub_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_title p {
  text-align: center;
  color: #c4c4cc;
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 14px;
  line-height: 160% x;
  margin: 0;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price p {
  text-align: center;
  color: #82f3ff;
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 32px;
  line-height: 160%;
  margin: 0;
}

.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD -------------- ADM  */
.card_container_adm {
  display: flex;
  flex-direction: column;
  background-color: #000204;
  width: 304px;
  height: 462px;
  padding: 24px;
  gap: 15px;
}

.pencil_adm {
  display: flex;
  justify-content: end;
}
.pencil_adm img {
  width: 24px;
}

/* .heart_mobile:active{

} */
.dish_adm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dish_adm #cardImg {
  height: 176px;
  width: 176px;
}

.title_adm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_adm p {
  color: #e1e1e6;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: auto;
}

.sub_title_adm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_title_adm p {
  text-align: center;
  color: #c4c4cc;
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 14px;
  line-height: 160% x;
  margin: 0;
}

.price_adm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price_adm p {
  text-align: center;
  color: #82f3ff;
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 32px;
  line-height: 160%;
  margin: 0;
}

/* CARD -------------------------- MOBILE  */
@media screen and (max-width: 390px) {
  .card_container {
    background-color: #000204;
    width: 210px;
    height: 292px;
    padding: 24px;
  }
  .card_container div:nth-child(-n+2) {
    display: flex;
  }
  .heart {
    position: absolute;
    padding: 0 195px;
  }
  .heart img {
    width: 14px;
  }
  /* .heart_mobile:active{

  } */
  .dish {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dish #cardImg {
    height: 88px;
    width: 88px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title p {
    color: #e1e1e6;
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-size: 14px;
    line-height: 24px;
  }
  .sub_title {
    display: none;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .price p {
    text-align: center;
    color: #82f3ff;
    font-family: "Poppins", sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 100%;
    margin: 0;
  }
  .interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* CARD ------- MOBILE ------ ADM  */
  .card_container_adm {
    background-color: #000204;
    width: 210px;
    height: 292px;
    padding: 24px;
  }
  .card_container_adm div:nth-child(-n+2) {
    display: flex;
  }
  .pencil_adm {
    position: absolute;
    padding: 0 195px;
  }
  .pencil_adm img {
    width: 14px;
  }
  /* .heart_mobile:active{

  } */
  .dish_adm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
  }
  .dish_adm #cardImg {
    width: 88px;
    height: 88px;
  }
  .title_adm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title_adm p {
    color: #e1e1e6;
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-size: 14px;
    line-height: 24px;
  }
  .sub_title_adm {
    display: none;
  }
  .price_adm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .price_adm p {
    text-align: center;
    color: #82f3ff;
    font-family: "Poppins", sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 100%;
    margin: 0;
  }
}
.interaction_adm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=Card.css.map */