@import "../../style/variables";

.card_container,
.dish,
.title,
.sub_title,
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  max-width: 100%;
  color: $light_300;
  text-align: center;
}
.heart {
  display: flex;
  align-items: center;
  justify-content: end;
  #heart {
    max-width: 10%;
    margin: 5%;
    margin-bottom: -10%;
  }
}

#cardImg {
  max-width: 70%;
}

.heart,
.title,
.sub_title,
.price {
  line-height: 2.5vh;
}
.title {
  @include poppins_300_medium;
}
.sub_title {
  @include roboto_smallest_regular;
}

.price {
  @include roboto_biggest_regular;
  color: $blue_100;
}

.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .interaction {
    display: flex;

    flex-direction: column;

    :nth-child(2) {
      width: 100%;
    }
  }
  .title {
    @include poppins_100_medium;
  }
  .sub_title {
    display: none;
  }
  .price {
    @include roboto_small_regular;
  }
}
