@import "../../../style/variables";

.myordersPage_container {
  height: 100vh;
  text-align: center;
  color: aliceblue;
}

.main_content {
  border: 2px solid red;
  height: 80%;
}

.back_btn_mobile {
  @include btn_back;
}
