@import "../../style/variables";

#navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 10vh;
  background-color: $dark_700;

  .hamburger {
    display: none;
  }
  .exitImg {
    width: 30px;
    background-color: transparent;
    cursor: pointer;
  }
  .search_bar {
    background-color: $dark_900;
    border: none;
    color: $light_100;
    width: 20%;
    border-radius: 5px;
  }
  .myorders {
    background-color: transparent;
    cursor: pointer;
  }

  .hamburger {
    display: none;
  }
}

/* NAV -----------ADM--------- */

#navbar_container_adm {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 65px;
  background-color: transparent;

  .exitImgAdm {
    width: 30px;
    background-color: transparent;
  }
}

.logo_adm {
  display: flex;
  align-items: center;

  p {
    color: $light_100;
    @include roboto_big_bold;
  }
}

.search_bar_adm {
  background-color: $dark_900;
  border: none;
  color: $light_100;
  width: 30%;
  height: 40%;
  border-radius: 5px;
}

.hamburgerImgAdm {
  display: none;
}

/* Nav --------------- MOBILE */

@media screen and (max-width: 768px) {
  #navbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    width: 100vw;
    height: 65px;
    background-color: $dark_700;

    .hamburger {
      display: flex;

      color: $light_100;
      background-color: lightblue;
      cursor: pointer;

      &:active {
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 150vh;
        right: 0%;
      }
    }

    .search_bar {
      display: none;
    }
    .exitImg {
      display: none;
    }
    /* Nav -------ADM------ MOBILE */

    #navbar_container_adm {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .hamburger {
        display: flex;
        width: 30px;
      }
      .search_bar_adm {
        display: none;
      }

      .exitImgAdm {
        display: none;
      }
    }
  }
}
