// Colors
$light_100 : #FFFFFF;
$light_200 : #FFFAF1;
$light_300 : #E1E1E6;
$light_400 : #C4C4CC;
$light_500 : #7C7C8A;
$light_600 : #76797B;
$light_700 : #4D585E;

$dark_100 : #000405;
$dark_200 : #00070A;
$dark_300 : #000204;
$dark_400 : #000A0F;
$dark_500 : #000C12;
$dark_600 : #00111A;
$dark_700 : #001119;
$dark_800 : #0D161B;
$dark_900 : #0D1D25;
$dark_1000 : #192227;

$gradint_100 : linear-gradient(90deg, rgba(0, 10, 15, 0.272541) 0%, #000A0F 100%);
$gradint_200 : linear-gradient(180deg, #091E26 0%, #00131C 100%);

$red_100 : #750310;
$red_200 : #92000E;
$red_300 : #AB222E;
$red_400 : #AB4D55;

$yelow : #FBA94C;
$green : #04D361;
$blue_100 : #82F3FF;
$blue_200 : #065E7C;

// Fonts
$Poppins_100-medium:;
    

    




