@import "../../style/variables";

.footer_container {
 
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  background-color: $dark_700;
  color: $light_700;
}
