@import "../../style/variables";

.footer_container {
 
  display: flex;
  align-items: center;
  gap: 25%;
  padding: 10px;
  width: 100vw;
  height: 10vh;
  background-color: $dark_700;
  color: $light_700;
}
