@import "../../style/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $dark_400;
}

.back_btn {
  margin-top: -370px;
  color: $light_100;
  @include roboto_smaller_bold;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  margin: 5%;
  /* overflow:auto; */
}
.img {
  max-width: 35%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;

  /* border: 2px solid rgb(233, 228, 228); */

  h1 {
    display: flex;
    justify-content: flex-start;
    @include poppins_400_medium;
    color: $light_400;
    width: 100%;
    margin-bottom: -3px;
  }
  p {
    @include poppins_200_medium;
    color: $light_500;

    max-width: 59%;
    margin-left: -39%;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .order {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
}

/* ------- MOBILE---------- */

@media screen and (max-width: 768px) {
  .details_container {
    display: flex;
    flex-direction: column;
    

    main {
    
      display: flex;
      flex-direction: column;
      height: 78vh;
      .img {
        
        min-width: 60%;
      }
    }
  }
  .back_btn {
    display: none;
  }
  .back_btn_mobile {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    
    width: 100vw;

    @include roboto_small_spaced;
    color: $light_300;
  }
  .content {
    display: flex;
    width: 100%;
    gap: 10px;

    h1,
    p,
    .tags,
    .order {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      margin: 0.2%;
    }
    h1 {
      @include roboto_bigger_bold;
    }
    p {
      @include roboto_small_spaced;
    }
  }
}
